.component {
  height: 100%;
  display: flex;
  align-items: center;
  position: relative;
}

.button {
  cursor: pointer;
  opacity: 0.8;
}

.button:hover {
  opacity: 1;
}

.menu {
  background-color: white;
  z-index: 999;
  position: absolute;
  top: 100%;
  right: -10px;
  border-radius: 0 0 5px 5px;
  overflow: hidden;
  box-shadow: 5px 5px 10px -6px black;
}

.menu > button {
  white-space: nowrap;
  font-size: 18px;
  padding: 10px 20px 10px 10px;
  text-align: left;
  text-decoration: none;
  border-radius: 0;
  display: flex;
  align-items: center;
}

.menu > button:hover {
  background: hsl(0, 0%, 95%);
}

.menu > button > svg {
  margin-right: 10px;
}

.menu > hr {
  height: 0;
  border-top: 1px solid hsl(0, 0%, 90%);
  border-bottom: none;
  margin: 0;
}
