.component {
  background-color: hsl(0, 0%, 100%);
  border-color: hsl(0, 0%, 90%);
  border-radius: 4px;
  border-style: solid;
  border-width: 1px;
  height: 38px;
  box-sizing: border-box;
  cursor: pointer;
  text-transform: uppercase;
  color: hsl(0, 0%, 35%);
  padding: 0 10px;
  background: linear-gradient(0deg, rgb(240, 240, 240) 0%, rgba(255, 255, 255) 100%);
  box-shadow: 1px 1px 0 0 rgba(0, 0, 0, 0.1);
}

.component:hover {
  background-color: hsl(0, 0%, 95%);
  background: linear-gradient(180deg, rgba(240, 240, 240) 0%, rgba(255, 255, 255) 100%);
}

.component:focus {
  background: linear-gradient(180deg, rgba(240, 240, 240) 0%, rgba(255, 255, 255) 100%);
  box-shadow: 0 0 0 1px rgba(0,0,0,0.1);
}

.wide {
  display: block;
  width: 100%;
}

.link {
  border: none;
  background: none;
  text-transform: none;
  padding: 0;
  height: auto;
  text-decoration: underline;
  cursor: pointer;
}

.link:hover {
  text-decoration: none;
  background: none;
}

.link:focus {
  outline: none;
}
