.component {
  position: relative;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.title > svg {
  margin-right: 5px;
}

.cards {
  max-height: calc(100vh - 183px);
  overflow-y: auto;
}

.item {
  display: block;
  margin: 10px 10px 15px;
  border: 1px dashed rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  position: relative;
}

.item:last-child {
  margin: 10px;
}
