.profile {
  display: flex;
  margin: 0;
  padding: 10px;
}

.image {
  border-radius: 10px;
}

.avatar {
  flex-shrink: 0;
  margin-right: 10px;
}

.info {
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.name {
  margin: 0 0 5px;
  font-size: 20px;
}

.location {
  display: flex;
  align-items: center;
  margin: 0 0 5px;
  font-size: 16px;
}

.location > svg {
  margin: 0 3px 0 0;
}

.about {
  font-size: 16px;
  margin: 0 0 10px;
  color: hsl(0, 0%, 40%);
}

.links {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  height: 100%;
}

.links > a {
  opacity: .8;
  margin: 0 0 0 5px;
  display: inline-block;
}

.links > a:hover {
  opacity: 1;
}

.links > a > svg {
  display: block;
}
