.title {
  text-align: center;
  margin: 0 0 20px;
}

.question {
  font-size: 1.3em;
  font-style: italic;
}

.component a {
  text-decoration: underline;
}

.component a:hover {
  text-decoration: none;
}
