.component {
  margin: 30px;
  width: 500px;
  max-width: 100%;
  min-height: 400px;
}

.row {
  border-bottom: 1px solid hsl(0, 0%, 90%);
  padding: 20px 10px;
  cursor: pointer;
}

.row:hover {
  background-color: hsl(0, 0%, 98%);
}

.info {
  display: flex;
}

.address {
  width: 70%;
}

.date {
  width: 30%;
}

.edit {
  background: white;
  margin: 10px 10px 0;
}
