.component {}

.title {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.button {
  margin: 0;
  padding: 20px 10px;
  cursor: pointer;
  background: linear-gradient(0deg, rgb(240, 240, 240) 0%, rgba(255, 255, 255) 100%);
}

.button:hover {
  background-color: hsl(0, 0%, 95%);
  background: linear-gradient(180deg, rgba(240, 240, 240) 0%, rgba(255, 255, 255) 100%);
}


.expandedItem > .button {
  display: none;
}

.button:before {
  display: inline-block;
  content: '';
  height: 6px;
  width: 6px;
  margin-right: 12px;
  border-bottom: 2px solid currentColor;
  border-right: 2px solid currentColor;
  transform: rotate(-45deg) translate(4px, 0px);
}

.expandedItem > .button::before {
  transform: rotate(45deg) translate(0px, -6px);
}

.content {
  display: none;
}

.item + .item {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.expandedItem > .content {
  display: block;
  margin: 10px;
  border: 1px dashed rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.item:only-of-type > .content{
  margin: 0;
}
