.container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  height: 80px;
  background: white;
}

.children {
  height: calc(100vh - 80px);
}

.children > div {
  height: calc(100vh - 80px);
  position: relative;
}
