.component {
  display: flex;
}

.input {
  width: 100%;
  background-color: hsl(0, 0%, 100%);
  border-color: hsl(0, 0%, 80%);
  border-radius: 4px;
  border-style: solid;
  border-width: 1px;
  height: 38px;
  box-sizing: border-box;
  margin: 0;
  color: hsl(0, 0%, 20%);
  padding: 0 10px;
  font-size: 16px;
}

.input:hover {
  background-color: hsl(0, 0%, 98%);
}

.input:focus {
  outline: 1px solid hsl(0, 0%, 90%);
}

.prefix {
  background-color: hsl(0, 0%, 98%);
  border-color: hsl(0, 0%, 80%);
  border-radius: 4px 0 0 4px;
  border-style: solid;
  border-width: 1px 0 1px 1px;
  height: 38px;
  box-sizing: border-box;
  color: hsl(0, 0%, 20%);
  padding: 0 5px 0 10px;
  font-size: 12px;
  line-height: 38px;
}

.withPrefix {
  padding: 0 10px 0 5px;
  border-width: 1px 1px 1px 0;
  border-radius: 0 4px 4px 0;
}

.invalid {
  border-color: red;
  color: red;
}

.disabled {
  border-color: hsl(0, 0%, 80%);
  color: hsl(0, 0%, 20%);
  background: hsl(0, 0%, 98%);
}
