.component {
  margin: 0;
  display: flex;
  justify-content: center;
  flex: 1;
  align-items: center;
  height: 100%;
  width: 100%;
}

.modal {
  max-width: calc(80vw - 60px);
  height: 400px;
  max-height: calc(100vh - 120px);
}
