.component {
  display: flex;
  margin: 0;
  padding: 10px;
}

.avatar {
  flex-shrink: 0;
  margin-right: 10px;
  width: 200px;
  max-width: 40%;
  height: 200px;
  position: relative;
}

.avatar > svg {
  max-width: 100%;
}

.image {
  border-radius: 10px;
}

.info {
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.name {
  margin: 0 15px 5px 0;
  font-size: 28px;
}

.timezone {
  display: flex;
  align-items: center;
}

.timezone {
  font-size: 16px;
  font-weight: 400;
  margin: 0 0 10px;
}

.timezone > svg {
  width: 20px;
  margin: 0 3px 0 0;
}

.about {
  font-size: 20px;
  margin: 0 0 10px;
  color: hsl(0, 0%, 40%);
}

.links {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-wrap: wrap;
  align-content: flex-end;
  height: 100%;
}

.links > a {
  opacity: .8;
  margin: 0 0 0 5px;
  display: inline-block;
}

.links > a:hover {
  opacity: 1;
}

@media only screen and (max-width: 320px) {
  .name {
    margin: 0 0 10px;
    font-size: 20px;
  }

  .timezone {
    font-size: 12px;
    margin: 0 0 5px;
  }

  .about {
    font-size: 16px;
    margin: 0 0 15px;
  }

  .links {
    justify-content: space-between;
  }

  .links > a {
    margin: 0;
  }

  .links > a > svg {
    width: 32px;
    height: 32px;
  }
}

@media only screen and (max-width: 560px) {
  .profile {
    flex-direction: column;
  }

  .avatar {
    margin: 0 0 10px;
    width: 100%;
    max-width: unset;
  }

  .name {
    text-align: center;
  }
}
